# Dependencies
node_modules/
**/node_modules/

# Production / Build
dist/
build/

# Environment variables
.env
*.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# Sensitive scripts
backend/create-admin.js
